streamlit>=1.35.0
langchain>=0.1.0
langchain-community>=0.0.30
langchain-core>=0.1.30
langchain-groq>=0.1.0
langchain-text-splitters>=0.0.1
chromadb>=0.4.24
fastembed>=0.2.0
python-dotenv>=1.0.0
protobuf>=5.26.1
